
<div class="modal fade" id="thankyouModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="gototable()"></button>
            </div>
            <div class="modal-body text-center">
                <h2>Thank You!</h2>
                <img src="/assets/thankyou.svg">
                <p>Please visit again.</p>
            </div>
        </div>
    </div>
</div>